.footer {
  width: var(--container-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.social {
  display: flex;
  gap: 1rem;
}

.social svg {
  font-size: 1.4rem;
  cursor: pointer;
}
